//Grocery Offer Zone Text Starts
.copyright_main {
    width: 100%;
    .copyright_inner {
        width: 100%;
        background-color: #1accfc;
        .copyright_txt {
            width: 100%;
            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                color: #ffffff;
                font-size: 12px;
                text-align: center;
                padding: 10px 0 10px 0;
                margin-bottom: 0;
            }
        }
    }
}
//Grocery Offer Zone Text Ends