//Grocery Offer Zone Text Starts
.grocery_offer_zone_main {
    width: 100%;
    .grocery_offer_zone_inner {
        width: 100%;
        background-color: #1accfc;
        .grocery_offer_zone_txt {
            width: 100%;
            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                color: #ffffff;
                text-align: center;
                padding: 10px 0 10px 0;
            }
        }
    }
}
//Grocery Offer Zone Text Ends
//Navbar One Starts
.navbar_one_main {
    width: 100%;
    .navbar_one_inner {
        width: 100%;
        .logo_shop_information_searchbar_wrap {
            width: 100%;
            .logo_main {
                width: 30%;
                .logo_txt {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 500;
                    font-size: 30px;
                    font-style: italic;
                    a {
                        text-decoration: none;
                        color: #030303;
                        span {
                            color: #ff4d08;
                        }
                    }
                }
                .logo_img {
                    margin-top: -5px;
                    img {
                        width: 100%;
                    }
                }
            }
            .shop_information_searchbar_main {
                width: 70%;
                gap: 20px;
                .shop_information_wrap {
                    width: 100%;
                    gap: 38px;
                    .shop_locator, .track_order, .phn_no, .sign_in, .sign_up {
                        display: flex;
                        gap: 14px;
                        .icon_cus {
                            a {
                                color: #ff4d08;
                            }
                        }
                        .txt_cus {
                            a {
                                color: #030303;
                                text-decoration: none;
                                font-family: "Open Sans", sans-serif;
                                font-weight: 500;
                                font-size: 14px;
                            }
                        }
                    }
                    .horizontal_line {
                        width: 1px;
                        height: 30px;
                        background-color: rgb(182, 177, 177);
                    }
                }
                .searchbar_shopcart_wrap {
                    width: 100%;
                    .searchbar_icon_wrap {
                        width: 90%;
                        .searchbar_icon_inner {
                            width: 100%;
                            .searchbar_cus {
                                width: 80%;
                                input {
                                    width: 93%;
                                    height: 50px;
                                    border: 1px solid black;
                                    border-right: none;
                                    padding-left: 10px;
                                    &:focus {
                                        outline: none;
                                    }
                                    &::placeholder {
                                        font-family: "Open Sans", sans-serif;
                                        font-weight: 500;
                                        font-size: 14px;
                                    }
                                }
                            }
                            .searchbar_icon_cus {
                                width: 8%;
                                background-color: #1accfc;
                                margin-left: -48px;
                                border: none;
                                color: #ffffff;
                                &:hover {
                                    background-color: #ff4d08;
                                }
                            }
                        }
                    }
                    .shop_curt {
                        width: 5%;
                        background-color: #ff4d08;
                        margin-left: -80px;
                        a {
                            color: #ffffff;
                            font-size: 20px;
                        }
                    }
                }
            }
        }
    }
}
//Navbar One Ends
//!Navbar One For Responsive Starts
@media only screen and (min-width:992px) and (max-width:1060px) {
    .shop_information_searchbar_main {
        width: 70% !important;
        .shop_information_wrap {
            gap: 15px !important;
        }
    }
}
@media only screen and (min-width:1061px) and (max-width:1081px) {
    .shop_information_searchbar_main {
        width: 65% !important;
        .shop_information_wrap {
            gap: 15px !important;
        }
    }
}
@media only screen and (min-width:1082px) and (max-width:1120px) {
    .shop_information_searchbar_main {
        width: 65% !important;
        .shop_information_wrap {
            gap: 15px !important;
        }
    }
}
@media only screen and (min-width:1121px) and (max-width:1200px) {
    .shop_information_searchbar_main {
        width: 62% !important;
        .shop_information_wrap {
            gap: 15px !important;
        }
    }
}
@media only screen and (min-width:1201px) and (max-width:1300px) {
    .shop_information_searchbar_main {
        width: 62% !important;
        .shop_information_wrap {
            gap: 20px !important;
        }
    }
}
//!Navbar One For Responsive Ends
//Navbar Two Starts
.navbar_two_main {
    width: 100%;
    .navbar_two_inner {
        width: 100%;
        .nav_menu_cus {
            width: 98%;
            margin: auto;
            border: 1px solid rgb(194, 191, 191);
            .nav_menu_cus_one {
                width: 15%;
                background-color: #e4e3e3;
                margin-left: 50px;
                .all_category_wrap {
                    width: 100%;
                    .all_category_wrap_inner {
                        width: 100%;
                        .all_category_cus {
                            width: 86%;
                            a {
                                width: 100%;
                                margin-left: 10px;
                                color: #000000;
                                font-family: "Open Sans", sans-serif;
                                &::after {
                                    content: "";
                                    position: absolute;
                                    top: 50% !important;
                                    left: 106% !important;
                                }
                            }
                            .dropdown_menu_cus {
                                position: absolute !important;
                                a {
                                    font-family: "Open Sans", sans-serif;
                                    font-size: 14px !important;
                                    padding: 0 !important;
                                    &:hover {
                                        color: #ff4d08;
                                    }
                                }
                                .dropdown-item:focus, .dropdown-item:hover {
                                    width: 90% !important;
                                }
                            }
                        }
                    }
                }
            }
            .nav_menu_cus_two {
                width: 80%;
                .home_cus, .about_us_cus, .faqs_cus, .contact_cus {
                    a {
                        font-family: "Open Sans", sans-serif;
                        text-decoration: none;
                        color: #000000;
                        &:hover {
                            color: #ff4d08;
                        }                        
                    }                    
                }
                .home_cus {
                    a.active {
                        color: #ff4d08;
                    }
                }
                .kitchen_wrap, .household_wrap, .pages_wrap {
                    a {
                        font-family: "Open Sans", sans-serif;
                        color: #000000;
                        &:hover {
                            color: #ff4d08;
                        }
                    }
                    .dropdown_menu_cus {
                        position: absolute !important;
                    }
                }
            }
        }
    }
}
//Navbar Two Ends
//!For Responsive Navbar Starts
.navbar_res {
    width: 100%;
    margin-top: -24px;
    .res_navbar_main {
        width: 100%;
        height: 60px;
        background-color: #ffffff;
        border: 1px solid #e4e0e0;
        .res_navbar_inner {
            width: 90%;
            margin: auto; 
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            .hamburger_btn {
                border: 1px solid #ff4d08;
                background-color: #ffffff;
                border-radius: 20%;
                -webkit-border-radius: 20%;
                -moz-border-radius: 20%;
                -ms-border-radius: 20%;
                -o-border-radius: 20%;
                button {
                    border-radius: 20%;
                    -webkit-border-radius: 20%;
                    -moz-border-radius: 20%;
                    -ms-border-radius: 20%;
                    -o-border-radius: 20%;
                    span {
                        font-size: 16px;
                    }
                }
                .navbar-toggler:focus {
                    outline: none !important;
                    border: none !important;
                    box-shadow: none !important;
                }
            }
            .res_navbar_logo {
                width: 20%;
                font-family: "Open Sans", sans-serif;
                font-weight: 500;
                font-size: 24px;
                font-style: italic;
                margin-left: 10px;
                a {
                    text-decoration: none;
                    color: #030303;
                    span {
                        color: #ff4d08;
                    }
                }
            }
            .responsive_navbar_item {
                width: 70%;
                gap: 50px;
                a {
                    color: #ff4d08;
                    font-size: 20px;
                }
            }
            .ham_menu_cus {
                max-width: 75% !important;
                .ham_menu_cus_header {
                    border-bottom: 1px solid rgb(240, 236, 236);
                    .home_btn_hamburger {
                        color: #1accfc;
                    }                    
                }
                .ham_menu_cus_body {
                    .all_category_for_hamburger_menu {
                        .all_category_heading {
                            p {
                                font-family: "Open Sans", sans-serif;
                                font-weight: 600;
                                font-size: 18px;
                                color: #000000;
                            }
                            span {
                                margin-left: 50%;
                                color: #000000;
                            }
                        }
                        .all_category_item {
                            gap: 10px;
                            width: 100%;
                            margin-bottom: 20px;
                            div {
                                width: 100%;
                                img {
                                    width: 20px;
                                    height: 20px;
                                }
                                a {
                                    width: 100px;
                                    height: 20px;
                                    font-family: "Open Sans", sans-serif;
                                    font-weight: 500;
                                    font-size: 14px;
                                    color: black;
                                    text-decoration: none;
                                    margin-left: 10px;
                                    &:hover {
                                        color: #ff4d08;
                                    }
                                }
                            }
                        }
                        .home_cus, .about_us_cus, .faqs_cus, .contact_cus {
                            margin-bottom: 10px;
                            a {
                                font-family: "Open Sans", sans-serif;
                                font-weight: 500;
                                font-size: 16px;
                                color: #000000;
                                text-decoration: none;
                            }
                        }
                        .kitchen_cus {
                            --bs-accordion-border-width: none !important;
                            --bs-accordion-btn-padding-x: 0 !important;
                            --bs-accordion-btn-padding-y: 0 !important;
                            margin-bottom: 10px;
                            div {
                                h2 {
                                    .accordion-button {
                                        font-family: "Open Sans", sans-serif;
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #000000;
                                        text-decoration: none;
                                        &:focus {
                                            box-shadow: none !important;
                                          }
                                    }
                                }
                                div {
                                    div {
                                        div {
                                            width: 100%;
                                            display: flex;
                                            gap: 10px;
                                            img {
                                                width: 20px;
                                                height: 20px;
                                            }
                                            a {
                                                width: 100px;
                                                height: 20px;
                                                font-family: "Open Sans", sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                color: #000000;
                                                margin-bottom: 10px;
                                                &:hover {
                                                    color: #ff4d08;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .household_cus {
                            --bs-accordion-border-width: none !important;
                            --bs-accordion-btn-padding-x: 0 !important;
                            --bs-accordion-btn-padding-y: 0 !important;
                            margin-bottom: 10px;
                            .household_cus_item {
                                .household_cus_header {
                                    .household_cus_btn {
                                        font-family: "Open Sans", sans-serif;
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #000000;
                                        text-decoration: none;
                                        &:focus {
                                            box-shadow: none !important;
                                          }
                                    }
                                }
                                div {
                                    div {
                                        div {
                                            width: 100%;
                                            display: flex;
                                            gap: 10px;
                                            img {
                                                width: 20px;
                                                height: 20px;
                                            }
                                            a {
                                                width: 100px;
                                                height: 20px;
                                                font-family: "Open Sans", sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                color: #000000;
                                                margin-bottom: 10px;
                                                &:hover {
                                                    color: #ff4d08;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .pages_cus {
                            --bs-accordion-border-width: none !important;
                            --bs-accordion-btn-padding-x: 0 !important;
                            --bs-accordion-btn-padding-y: 0 !important;
                            margin-bottom: 10px;
                            .pages_cus_item {
                                .pages_cus_header {
                                    .pages_cus_btn {
                                        font-family: "Open Sans", sans-serif;
                                        font-weight: 500;
                                        font-size: 16px;
                                        color: #000000;
                                        text-decoration: none;
                                        &:focus {
                                            box-shadow: none !important;
                                          }
                                    }
                                }
                                div {
                                    div {
                                        div {
                                            width: 100%;
                                            display: flex;
                                            gap: 10px;
                                            img {
                                                width: 20px;
                                                height: 20px;
                                            }
                                            a {
                                                width: 100px;
                                                height: 20px;
                                                font-family: "Open Sans", sans-serif;
                                                font-weight: 400;
                                                font-size: 14px;
                                                color: #000000;
                                                margin-bottom: 10px;
                                                &:hover {
                                                    color: #ff4d08;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                        .general_information_cus {
                            width: 100%;
                            padding-top: 10px;
                            .general_cus {
                                p {
                                    font-family: "Open Sans", sans-serif;
                                    font-weight: 600;
                                    font-size: 18px;
                                    color: #000000;
                                }
                                span {
                                    margin-left: 65%;
                                    color: #000000;
                                }
                            }
                            .general_information_item {
                                width: 100%;
                                gap: 10px;
                                div {
                                    width: 100%;
                                    a {
                                        width: 20px;
                                        height: 20px;
                                        color: #ff4d08;
                                    }
                                    .txt {
                                        width: 100px;
                                        height: 20px;
                                        font-family: "Open Sans", sans-serif;
                                        font-weight: 500;
                                        font-size: 14px;
                                        color: black;
                                        text-decoration: none;
                                        margin-left: 10px;
                                        &:hover {
                                            color: #ff4d08;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
.accordion {
    --bs-accordion-active-bg: #ffffff !important;
    --bs-accordion-active-color: black !important;
}
@media only screen and (max-width:450px) {
    .res_navbar_logo {
        width: 55% !important;
        font-size: 14px !important;
        margin-left: 20px;
    }
    .hamburger_btn {
        button {
            span {
                font-size: 14px !important;
            }
        }
    }
    .responsive_navbar_item {
        gap: 20px !important;
        a {
            font-size: 14px !important;
        }
    }  
}
@media only screen and (min-width:451px) and (max-width:530px) {
    .res_navbar_logo {
        width: 70% !important;
        margin-left: 20px;
    }
    .responsive_navbar_item {
        gap: 18px !important;
        a {
            font-size: 16px !important;
        }
    }  
}
@media only screen and (min-width:531px) and (max-width:943px) {
    .res_navbar_logo {
        width: 70% !important;
        margin-left: 20px;
    }
    .responsive_navbar_item {
        gap: 24px !important;
        a {
            font-size: 20px !important;
        }
    }  
}
@media only screen and (min-width:531px) and (max-width:943px) {
    .responsive_navbar_item {
        gap: 30px !important;
    }  
}
//!For Responsive Navbar Ends
//!For Responsive Search Box Starts
.searchbar_res_cus {
    width: 100%;
    .searchbar_icon_wrap {
        width: 90%;
        margin: auto;
        .searchbar_icon_inner {
            width: 100%;
            .searchbar_cus {
                width: 100%;
                input {
                    width: 93%;
                    height: 50px;
                    border: 1px solid black;
                    border-right: none;
                    padding-left: 10px;
                    &:focus {
                        outline: none;
                    }
                    &::placeholder {
                        font-family: "Open Sans", sans-serif;
                        font-weight: 500;
                        font-size: 14px;
                    }
                }
            }
            .searchbar_icon_cus {
                width: 8%;
                background-color: #1accfc;
                margin-left: -60px;
                border: none;
                color: #ffffff;
                &:hover {
                    background-color: #ff4d08;
                }
            }
        }
    }
}
@media only screen and (max-width:530px) {
    .searchbar_icon_cus {
        width: 20% !important;
    }
}
//!For Responsive Search Box Ends