//Special Offers Title Starts
.special_offers_title_main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
    .special_offers_title_inner {
        width: 100%;
        .special_offers_title_txt {
            width: 100%;
            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                color: #000000;
                font-size: 40px;
            }
        }
        .vertical_line {
            margin-top: -5px;
            .normal_line {
                width: 50px;
                height: 1px;
                background-color: rgb(126, 121, 121);
                margin-top: 6px;
            }
            .box_cus {
                gap: 6px;
                .box_one {
                    width: 12px;
                    height: 12px;
                    background-color: #ff5427;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                }
                .box_two {
                    width: 13px;
                    height: 13px;
                    background-color: #1accfc;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                }
            }
        }
    }
}
//Special Offers Title Ends