//Contact Us Title Starts
.contact_us_title_main {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;

    .contact_us_title_inner {
        width: 100%;

        .contact_us_title_txt {
            width: 100%;

            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 400;
                color: #000000;
                font-size: 40px;
            }
        }

        .vertical_line {
            margin-top: -5px;

            .normal_line {
                width: 50px;
                height: 1px;
                background-color: rgb(126, 121, 121);
                margin-top: 6px;
            }

            .box_cus {
                gap: 6px;

                .box_one {
                    width: 12px;
                    height: 12px;
                    background-color: #ff5427;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                }

                .box_two {
                    width: 13px;
                    height: 13px;
                    background-color: #1accfc;
                    transform: rotate(45deg);
                    -webkit-transform: rotate(45deg);
                    -moz-transform: rotate(45deg);
                    -ms-transform: rotate(45deg);
                    -o-transform: rotate(45deg);
                }
            }
        }
    }
}

//Contact Us Title Ends
//Contact Us Starts
.contact_us_main {
    width: 70%;
    margin: 0 auto 80px auto;
    box-shadow: 5px 0 10px -5px rgba(0, 0, 0, 0.3),
    -5px 0 10px -5px rgba(0, 0, 0, 0.3),
    0 5px 10px -5px rgba(0, 0, 0, 0.3),
    0 -5px 10px -5px rgba(0, 0, 0, 0.3);
    .contact_us_inner {
        width: 100%;
        padding: 40px 0 40px 0;
        .name_sub_mail_message_wrap {
            width: 90%;
            margin: auto;
            form {
                gap: 20px;
                .for_name, .for_sub, .for_mail {
                    width: 100%;
                    input {
                        width: 100%;
                        height: 50px;
                        border: 1px solid #d8d6d6;
                        padding-left: 10px;
                    }
                }
                .for_message {
                    width: 100%;
                    #message {
                        width: 100%;
                        height: 150px;
                        border: 1px solid #d8d6d6;
                        padding-left: 10px;
                    }    
                }
                button {
                    width: 120px;
                    height: 50px;
                    background-color: #ff5427;
                    color: #ffffff;
                    border: none;
                    border-radius: 3%;
                    -webkit-border-radius: 3%;
                    -moz-border-radius: 3%;
                    -ms-border-radius: 3%;
                    -o-border-radius: 3%;
                }
            }
        }
    }
}
//Contact Us Ends
//Get In Touch Starts
.get_in_touch_main {
    width: 80%;
    margin: 0 auto 100px auto;
    .get_in_touch_inner {
        width: 100%;
        .for_heading {
                p {
                    font-family: "Open Sans", sans-serif;
                    font-weight: 400;
                    font-size: 40px;
                    color: #fe5723;
                }
            }
        .for_item {
                div {
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
        
                    span {
                        color: #11cdff;
                    }
        
                    p {
                        font-family: "Open Sans", sans-serif;
                        font-weight: 500;
                        font-size: 18px;
                        color: #0a0a0a;
                        word-spacing: 10px;
        
                        span {
                            color: #fe5723;
                        }
                    }
                }
            }
    }
}
//Get In Touch Ends
//Location Section Starts
.location_main {
    width: 100%;
    border: 10px solid #fe5723;
    location_inner {
        width: 100%;
    }
}
//Location Section Ends
