//Contact Banner Starts
.contact_banner_main {
    width: 100%;
    margin-top: 10px;

    .contact_banner_inner {
        width: 100%;

        .for_banner {
            width: 100%;
            height: 300px;
            background-image: url("../dist/img/bannerTwo.webp");
            background-repeat: no-repeat;
            background-position: top;
            background-size: cover;
        }

        .for_link {
            width: 100%;
            height: 50px;
            background-color: #dfdfdf;

            p {
                font-family: "Open Sans", sans-serif;
                font-weight: 600;
                font-size: 14px;
                padding-left: 80px;
                margin-bottom: 0;
                word-spacing: 10px;

                a {
                    text-decoration: none;
                    color: #080808;

                    &:hover {
                        color: #fe5723;
                    }
                }
            }
        }
    }
}

//About Us Banner Ends